@import "bootstrap/dist/css/bootstrap.min.css";
@import "font-awesome/css/font-awesome.css";

body {
    background-image: url('./assets/sisand_cover.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
  }
  
